:root {
  --header-color: #212121;
  --header-link-color: #2196f3;
  --text-color: #757575;
  --hov-foc: #2196f3;
}
body {
  font-family: Roboto, Tahoma, sans-serif;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header {
  background-color: #ffffff;
}
.header-logo {
  font-family: "Raleway, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo-web {
  color: #2196f3;
}
.header-logo-studio {
  color: #000000;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--header-color);
}
.header-link:hover {
  color: var(--header-link-color);
}
.header-link:focus {
  color: var(--header-link-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-mail:hover {
  color: #2196f3;
}
.header-mail:focus {
  color: #2196f3;
}
.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-phone:hover {
  color: var(--hov-foc);
}
.header-phone:focus {
  color: var(--hov-foc);
}
.about {
  background: #e5e5e5;
}
.hero {
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  background: #2196f3;
  cursor: pointer;
}
.hero-btn-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
}
.hero-btn:hover {
  background: #188ce8;
}
.hero-btn:focus {
  background: #188ce8;
}
.about-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.him-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.comand {
  background: #f5f4fa;
}
.comand-top-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.comand-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.comand-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: "Raleway, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-logo-web {
  color: #2196f3;
}
.footer-logo-studio {
  color: #ffffff;
}
.footer-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-map:hover {
  color: #2196f3;
}
.footer-map:focus {
  color: var(--hov-foc);
}
.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover {
  color: var(--hov-foc);
}
.footer-mail:focus {
  color: var(--hov-foc);
}
.footer-phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-phone:hover {
  color: var(--hov-foc);
}
.footer-phone:focus {
  color: var(--hov-foc);
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
.active {
  color: var(--hov-foc);
}
.hero-button-p {
  background-color: #ffffff;
}
.herop-button {
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.herop-button:hover {
  background-color: var(--hov-foc);
  color: #ffffff;
}
.herop-button:focus {
  background-color: var(--hov-foc);
  color: #ffffff;
}
.hero-portfolio-title {
  color: var(--header-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.hero-portfolio-text {
  color: var(--text-color);
}
